---
title: Our team
description: >-
I have always been interested in languages and have enjoyed learning them. But once I discovered phonetics and speech disorders, I have found my true passion. Speech is one of the most complex and frequent human activities, necessary for expressing  our ideas, wishes, troubles... I find it fascinating that we never have to think about how to speak, until a disruption happens. Problems with speech, either in first or foreign language, lead to reduce comprehension of what we said, and can significantly limit communication with others. Fortunately, almost all speech problems can be improved, and often completely removed. I feel privileged to be part of this process.

Languages
My first language is Slovenian, I speak fluent English, as well as conversational Czech and Slovak.

Work experience
I have extensive experience in researching typical speech, speech in foreign languages, and speech disorders. As a researchers, I have been involved in several projects addressing different speech disorders (childhood apraxia of speech, dysarthria, disorders of individual speech sounds), pronunciation training in foreign languages (English, French, Swedish), bilingualism, and exploring the application of ultrasound tongue imaging as a visual biofeedback in speech therapy and foreign language learning, as well as the usage of objective methods (acoustic and articulatory speech analysis) in speech therapy practice. I am also teaching students of speech and language therapy at the University of Ljubljana, Slovenia.
Additionally, I worked as a speech and language therapist in a rehabilitation clinic where I obtained invaluable experience in addressing numerous speech and language disorders.
Finally, I have studied or worked in several countries (Slovenia, Czech Republic, Germany, UK, the Netherlands, France, Finland), which made me even more aware how important it is to be able to communicate well not only in one’s first language but also in foreign ones. Being a mom of two multilingual children, I furthermore understand not only theoretical but also practical characteristics of multilingual speech, and the needs of multilingual speakers.

Education
BA in Speech and language therapy, and special education for children with impaired hearing, University of Ljubljana, Slovenia.
State exam for speech and language therapist in health organizations, Ministry of health, Slovenia.
Completed theoretical part of Specialization in clinical speech and language therapy, University of Ljubljana, Slovenia.
MSc in Clinical linguistics, University of Potsdam, Germany.
PhD in Speech science, Queen Margaret University, Edinburgh, UK.

---

<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
