---
title: Ceník
heading: 
description: Pro informace o cenách   <b>seminářů</b> nás prosím kontaktujte na adrese <a href="#">sonologopedie@gmail.com</a>.
pricing_table:
  - name: <br>Konzultace <br> &nbsp;
    color: "#000000"
    features:
      - text: 500 Czk
        highlight: true
      - text: trvání&colon; 30min
        highlight: false
      - text:
        highlight: false
    call_to_action:
      link: /contact
      text: Objednat termín
      - name: Vstupní vyšetření <br> &nbsp;
    color: "#000000"
    features:
      - text: 1200 Czk
        highlight: true
      - text: trvání&colon; 45&ndash;60min
        highlight: false
      - text: Písemná zpráva&colon; +300Czk
        highlight: false
    call_to_action:
      link: /contact
      text: Objednat termín
  - name: Terapie řeči <br> (krátká)
    color: "#000000"
    features:
      - text: 500 Czk
        highlight: true
      - text: trvání&colon; 30min
        highlight: false
      - text: Písemná zpráva&colon; +300Czk
        highlight: false
    call_to_action:
      link: /contact
      text: Objednat termín
  - name: Terapie řeči <br> (dlouhá)
    color: "#000000"
    features:
      - text: 700 Czk
        highlight: true
      - text: trvání&colon; 45min
        highlight: false
      - text: Písemná zpráva&colon; +300Czk
        highlight: false
    call_to_action:
      link: /contact
      text: Objednat termín
  - name: Trénink výslovnosti <br> (individuální)
    color: "#000000"
    features:
      - text: 700 Czk
        highlight: true
      - text: trvání&colon; 45min
        highlight: false
      - text: 1 osoba <br>
        highlight: false
    call_to_action:
      link: /contact
      text: Objednat termín
  - name: Trénink výslovnosti <br> (skupinový)
    color: "#000000"
    features:
      - text: 2000 Czk
        highlight: true
      - text: trvání&colon; 60min
        highlight: false
      - text: 3-5 osob <br>
        highlight: false
    call_to_action:
      link: /contact
      text: Objednat termín

faq:
  - question: Jaké typy plateb přijímáte?
    answer: V současné době můžeme přijímat pouze platby převodem na bankovní účet (preferovany) nebo v hotovosti.
  - question: Máte smlouvu s pojišťovnami?
    answer: Ne. Veškeré náklady hradí v plné výši klient..
  - question: Máte další dotazy?
    answer: Kontaktujte nás na adrese  <a href="#">sonologopedie@gmail.com</a>.
---
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
