---
title: Ultrasound tongue imaging
description: >-
  
---
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>ULTRASOUND TONGUE IMAGING</h2>
				<p>In the videos below you can see a short presentation of using ultrasound tongue imaging in speech sound practice.
The first speaker is a child who has difficulties saying the ”s” sound correctly. The video on the left shows the articulation before, and the video on the right after one ultrasound training session.
The second speaker speaks French as a foreign language but has some difficulties saying all the French vowels correctly. In the video, he is practicing the French vowel "u", such as in the word tu. You can see and hear the sound before the pronunciation training, and after a few minutes of practice with ultrasound.
For more information about ultrasound tongue imaging and its application as real-time visual biofeedback, please look at my article "Ultrasound tongue imaging in second language learning" [link in title] published in Studie z aplikované lingvistiky.</p>

	</section>
			
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
