---
title: I offer the following services
description: >-

---
	<section>
		<div class="container flex">
			<div class="text editable">
				
				<p>I offer the following services:
				<ul>
                                  <li>Speech therapy consisting of initial assessment and individual 30 or 45 minutes speech therapy sessions. </li>
				  <li>Speech therapy with ultrasound (30 or 45 minutes) without the assessment. Only for clients who already have a speech diagnosis and are followed by a speech-language therapist. </li>
                                  <li>Pronunciation training of sounds in a foreign language delivered as 45 minutes individual or 60 minutes group (3 to 5 speakers) session. Additionally, a comprehensive assessment of articulation is also available. </li> 
                                </ul>
				</p>

	</section>
			
			
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
